Webpack(export/import)
   Babel
   Scss
   Eslint
   2 Modes
   -Dev
      Dev server, SourceMap, Eslint, Not minified JS & CSS
    -Prod
      Minified Code
Git
  Production
    1.0.0
    ---------
  Development
    1.0.2
    ------------

// Git

git init
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Shakhriddin/my-excel.git
git push -u origin main