.formula {
  @include position(absolute, top, $header-height+$toolbar-height, left, 0);
  width: 100%;
  height: $formula-height;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .4);

  &__info {
    position: relative;
    width: $info-cell-width;
    height: 100%;
    font-size: 1.8rem;
    font-weight: bold;
    font-style: italic;
    font-family: serif;
    color: rgba(0, 0, 0, .2);
    padding: 0 .5rem;
    @include flex-center;

    &:after {
      content: '';
      @include position(absolute, top, 50%, right, 0);
      transform: translate(0%, -50%);
      width: 1.5px;
      height: 70%;
      background-color: rgba(0, 0, 0, .3);
      border-radius: 1rem;
    }

    span {
      margin-top: .2rem;
      font-weight: 600;
      font-size: .9rem;
      font-family: serif;
    }
  }

  &__input {
    flex: 1 1 auto;
    height: 100%;
    padding: .3rem .5rem;
    caret-color: $green;
    vertical-align: center;
    font-size: 1.1rem;
    color: #333333;

    &:focus {
      outline: none;
    }

    @include selection;
  }
}