.header {
  @include position(absolute, top, 0, left, 0);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;

  &__item {
    @include flex-center;

  }

  &__logo {
    color: $green;
    font-size: 1.8rem;
    margin-right: .8rem;
    text-shadow: 0 0 .1rem $green;
  }

  &__input {
    width: 6.2rem;
    border: 0;
    font-size: 1.1rem;
    border-radius: .25rem;
    padding: .15rem .5rem;
    caret-color: $green;
    color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 .1rem .05rem rgba(0, 0, 0, .1);
    transition: width .1s ease-in-out;

    &:focus {
      outline: none;
      box-shadow: 0 0 0.1rem 0.2rem rgba(0, 0, 0, .2);

    }

    @include selection;
  }

  &__btn {
    font-size: 1.1rem;
    border: 0;
    padding: .3rem;
    border-radius: .25rem;
    color: #333333;
    transition: all .2s ease;
    background-color: rgba(0, 0, 0, 0);

    &:hover {
      color: $red;
      background-color: rgba(0, 0, 0, 0.05);
      transform: scale(1.05);
    }

    &:first-child {
      margin-right: .5rem;
    }
  }

}

