.table {
  @include position(absolute, top, $header-height+$toolbar-height+$formula-height, left, 0);
  width: 100%;
  overflow-x: auto;
  padding-bottom: .05rem;

  &::-webkit-scrollbar {
    height: .5rem;

    &-track {
      background-color: rgba(0, 0, 0, .1);
    }

    &-thumb {
      background: rgba(0, 0, 0, .2);
      border-radius: 1rem;
      padding: .5rem;
    }
  }

  &__row {
    display: flex;
    min-height: 1.25rem;
    height: $row-height;

  }

  &__info {
    @include flex-center;
    flex: 0 0 $info-cell-width;
    width: $info-cell-width;
    height: 100%;
    background: #f8f9fa;
    border: 1px solid rgba(0, 0, 0, .3);
    border-top: 0;
    @include selection;
  }

  &__data {
    display: flex;
  }

  &__column {
    @include flex-center;
    width: $cell-width;
    min-width: 2.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    border-top: 0;
    border-left: 0;
    @include selection;
  }

  &__cell {
    width: $cell-width;
    min-width: 2.5rem;
    padding: .3rem;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .3);
    border-top: 0;
    border-left: 0;
    white-space: nowrap;
    color: #333;
    outline: none;
    caret-color: $green;

    &.--selected {
      outline: 2px solid $green;
      outline-offset: -1.5px;
      border-radius: .15rem;
    }

    @include selection;
  }


}