.table {
  @include position(absolute, top, $header-height+$toolbar-height+$formula-height, left, 0);
  width: 100%;
  max-height: calc(100% - 144px);
  overflow: auto;
  padding-bottom: .05rem;

  &::-webkit-scrollbar {
    height: .5rem;
    width: .5rem;

    &-track {
      background-color: rgba(0, 0, 0, .1);
    }

    &-thumb {
      background: rgba(0, 0, 0, .2);
      border-radius: 1rem;
      padding: .5rem;

      &:hover {
        background: rgba(0, 0, 0, .4);
      }
    }
  }

  &__row {
    display: flex;
    min-height: 1.25rem;
    height: $row-height;
  }

  &__line-number {
    @include flex-center;
    position: relative;
    flex: 0 0 $info-cell-width;
    width: $info-cell-width;
    height: 100%;
    color: #888888;
    background: #f8f9fa;
    border: 1px solid rgba(0, 0, 0, .3);
    border-top: 0;
    cursor: default;

    &::selection {
      background: none;
    }
  }

  &__data {
    display: flex;
  }

  &__column {
    @include flex-center;
    position: relative;
    width: $cell-width;
    min-width: 2.5rem;
    border: 1px solid rgba(0, 0, 0, .4);
    border-top: 0;
    border-left: 0;
    cursor: default;

    &::selection {
      background: none;
    }
  }

  &__cell {
    width: $cell-width;
    min-width: 2.5rem;
    padding: .3rem;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top: 0;
    border-left: 0;
    white-space: nowrap;
    color: #333;
    outline: none;
    caret-color: $green;

    &.--selected {
      outline: 2px solid $green;
      outline-offset: -1.5px;
      border-radius: .15rem;
    }

    @include selection;
  }

  &__col-resize, &__row-resize {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $green;
    border-radius: 1px;
    opacity: 0;
    transition: opacity .1s ease-in-out;
    z-index: 100;

    &:hover {
      opacity: 1;
    }
  }

  &__col-resize {
    top: 0;
    width: 4px;
    cursor: col-resize;
  }

  &__row-resize {
    left: 0;
    bottom: 0;
    height: 4px;
    cursor: row-resize;
  }

}